<div class="pokecode-header">
  <h1>
  <%= link_to "Hacking Decidim", "https://pokecode.net" %>
  </h1>
  <div class="credits">
    <a href="https://twiter.com/ivanverges"><%= icon "twitter", role: "img", aria_label: "Twitter" %></a>
    ivan@pokecode.net
  </div>
</div>