<section id="hero-<%= model.id %>" class="hero__container" style="--hero-image:url('<%= background_image %>')" data-process-hero>
  <div class="hero">
    <h1 class="hero__title">
      Este es un test: has sido hackeado
    </h1>

    <%= render :cta_button %>
  </div>
</section>