<section id="hero" class="extended hero home-section" style="background-image:url('<%= background_image %>');">
  <div class="hero__container">
    <div class="row">
      <div class="columns small-centered large-10">
        <h1 class="text-highlight heading1 hero-heading">
          Decidim Hacks is a <span class="rotate">cool, sexy, awesome, massive</span><br>hackathon to build a better democracy
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="columns small-centered small-6 medium-4 mediumlarge-3">
        <%= cta_button %>
      </div>
    </div>
  </div>
</section>
